.About__title, .Start__title {
  margin: 270px 10%;
}

.About__title h1, .Start__title h1{
  font-size: 50px;
  color: black;
}

.About__title p{
  margin-top: 50px;
    color: black;
}

.About__contact a{
  text-decoration: none;
  color: black;
}

.About__contact a:hover, .About__contact a:active {
  color: blue;
}

.Start__project {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-column-gap: 40px;
}

.Start__project > p{
  margin: 0;
  padding: 30px 0;
}

.Start__project_image {
    grid-column: 2 / 3;
    grid-row: 1 / 3 ;
    background-color: white;
    background-image: url("C:/Users/54sma/Desktop/Web/project.jpg");
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;/* <-- background size */
    background-position: center;
  }

  .button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding:20px 0;
    width: 35%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px 0 0 0;
    grid-column-gap: 0;
    vertical-align: bottom;
  }

  .mybutton{
    border-radius: 4px;
    background: lightgray;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
    width: 60%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px 0px 0px 10px;
    box-sizing: border-box;
    vertical-align: bottom;
  }

  .button p, .mybutton p {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button p:after, .mybutton p:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover p, .mybutton:hover p {
    padding-right: 25px;
  }

  .button:hover p:after, .mybutton:hover p:after {
    opacity: 1;
    right: 0;
  }

   .Start__project_button:hover button{
     opacity: 0.2;
   }

   .Start__project_button:hover .button:hover{
     opacity: 1;
   }

   .Start__project_button:hover .mybutton:hover{
     opacity: 1;
     background-color: gray;
   }
